<%- include("../partials/head.ejs") %>
<%- include("../partials/nav.ejs") %>

<section class="profile">
    <section class="data__container">
        <div class="data_options">
            <div class="userImg">
                <% if(img) {%>
                <img src="<%= img.path %>" alt="<%= img.filename %>">
                <% } else {%>
                <i class="img_UserIcon fa"></i>
                <% } %>
            </div>
            <h3><%= user.username %></h3>
            <h3><%= user.email %></h3>
            <hr>
            <div class="links">
                <h3>Personal Data</h3>
                <hr>
                <a id ="profileBtn" href="?data=profile">Profile</a>
                <a id ="taskBtn" href="?data=taskdiv">Tasks</a>
                <h3>Security</h3>
                <hr>
                <a id ="changepinBtn" href="?data=changepinreq">Pin-Code</a>
                <a id ="changepassBtn" href="?data=changepass">Change Pass</a>
                <a id ="changesecretqtsBtn" href="?data=changesecretqts">Change Secret Questions</a>
                <a id ="accountBtn" href="?data=accountdiv">Account</a>
            </div>
        </div>
        <div class="show_options">
            <div class="profile_form"> 
                <form action="/api/settings/updateUser" method="POST" id="profile" enctype="multipart/form-data">
                    <div class="userSection">
                        <div class="iconcontainer">
                            <% if(img) {%>
                                <img src="<%= img.path %>" alt="<%= img.filename %>">
                            <% } else {%>
                                <i class="img_UserIcon fa"></i>
                            <% } %>
                        </div>
                        <div class="upload">
                            <button type="button" class="btn_uploaded">
                                <i class="fas fa-upload"></i> Upload File
                                <input type="file" name="image" >
                            </button>
                            <% if(img) {%>
                            <div class="trash">
                                <a class="trash" href="/api/settings/removephoto/<%= img._id %>">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </div>
                            <% } %>
                        </div>
                        <p class="imgExtension <%= imgErr%>">* jpeg|jpg|png * 2mgb * </p>
                    </div>
                    <% if(usernameFound){ %>
                    <label for="username">Username
                        <span><%= usernameErr%></span>
                        <input class="<%=usernameFound%>" type="text" name="username" id="username" value="<%= user.username %>">
                    </label>
                    <% } %>
                    <label for="name">Name
                        <input type="text" name="name" id="name" value="<%= user.name %>" >
                    </label>
                    <label for="lastname">Lastname
                        <input type="text" name="lastname" id="lastname" value="<%= user.lastname %>" >
                    </label>
                    <label for="email">Email
                        <input type="email" name="email" id="email" value="<%= user.email %>" readonly >
                    </label>
                    <label class="gender" for="gender">Gender:
                        <div>
                                <i class="maleIcon fa"></i>
                                <%if(user.gender === "male" || user.gender === "Male") { %>
                                    <input checked type="radio" name="gender" value="male">
                                <% } else {%>
                                <input  type="radio" name="gender" value="male">
                                <% } %>
                                <i class="femaleIcon fa"></i>
                                <% if(user.gender === "female" || user.gender === "Female"){%>
                                    <input checked type="radio" name="gender" value="female">
                                <% } else { %>
                                <input type="radio" name="gender" value="female">
                                <% } %>

                            
                        </div>
                    </label>
                    <label for="country">Country
                        <input type="text" name="country" id="country" value="<%= user.country %>" >
                    </label>
                    <input type="hidden" name="userID" value="<%= user.id %>"  id="">
                    <button class="btnForm" type="submit">Send</button>
                </form>
            </div>
            
            <div class="taskContainer_form" id="taskdiv">
                <div class="tasksResult_Container" >
                    <div class="taskvalue_name">
                        <h3>All Taks: <%= tasks.length %></h3>
                        <h3> <span id="highTag">High:</span> <span id="highValue"><%= highCount %></span>  </h3>
                        <h3><span id="middleTag">Middle:</span> <span id="middleValue"><%= middleCount %></span></h3>
                        <h3><span id="lowTag">Low:</span> <span id="lowValue"><%= lowCount %></span></h3>
                    </div>
                    <div class="canvasContainer">
                        <canvas id="myChart" class="taskvalue_graphic">

                        </canvas>
                    </div>
                </div>
            </div>

            <div class="changePincode_container" id="changePin">
                <div class="changePincode_req">
                    <h3>Change your Pin-Code</h3>
                    <p>We will send to you an email, with the link in order you can change your Pin-code..!!</p>
                    <form action="/api/settings/pincodeEmail" method="post">
                        <input type="email" name="email" value="<%= user.email %>" readonly>
                        <input type="hidden" name="userID" value="<%= user.id %>"  id="">
                        <button id="sendBtn_pincode" class="btnForm" type="submit">Send</button>
                    </form>
                </div>
                <% if(emailSent) {%>
                <div class="changePincode_emailMessage <%= emailSent %>">
                    <div class="containerInfo_email">
                        <div class="imgContainer">
                            <img src="/img/emailSent.png" alt="email">
                        </div>
                        <h3>We have sent you an email, please check it out</h3>
                    </div>
                </div>
                <% } %>
            </div>

            <div class="changepass_form gettingPIN">
                <form  action="/api/settings/pinchangepass" method="post" id="changepass">
                    <h3>Change Password</h3>
                    <p class="attention">Enter your 6-digit pin in order to change your Password</p>
                    <div class="inputGroup">
                        <label for="pin1">
                            <input id="pinPass" type="number" name="pin1"  maxlength="1"  tabindex="1" placeholder="·" autocomplete="off">
                        </label>
                        <label for="pin2">
                            <input id="pinPass" type="number" name="pin2" maxlength="1" tabindex="2" placeholder="·" autocomplete="off">
                        </label>
                        <label for="pin3">
                            <input id="pinPass" type="number" name="pin3" maxlength="1" tabindex="3" placeholder="·" autocomplete="off">
                        </label>
                        <label for="pin4">
                            <input id="pinPass" type="number" name="pin4" maxlength="1" tabindex="4" placeholder="·" autocomplete="off">
                        </label>
                        <label for="pin5">
                            <input id="pinPass" type="number" name="pin5"  maxlength="1" tabindex="5" placeholder="·" autocomplete="off">
                        </label>
                        <label for="pin6">
                            <input id="pinPass" type="number" name="pin6" maxlength="1" tabindex="6" placeholder="·" autocomplete="off">
                        </label>
                    </div>
                    <button class="btnForm" type="submit" value="Send">Send</button>
                    <input type="hidden" name="userID" value="<%= user.id %>"  id="">
                    <% if(errorPIN) { %>
                        <span class="<%=errorStyle%>" ><%=errorPIN%></span>
                    <% } %>
                </form>
            </div>

            <div class="changesquestions_form gettingPIN">
                <form  action="/api/settings/pinchangesecretqts" method="post" id="changescretqts">
                    <h3>Security Questions</h3>
                    <p class="attention">Enter your 6-digit pin in order to change your security questions</p>
                    <div class="inputGroup">
                        <label for="pin1">
                            <input id="pinSecreteQts" type="number" name="pin1"  maxlength="1"  tabindex="1" placeholder="·" autocomplete="off">
                        </label>
                        <label for="pin2">
                            <input id="pinSecreteQts" type="number" name="pin2" maxlength="1" tabindex="2" placeholder="·" autocomplete="off">
                        </label>
                        <label for="pin3">
                            <input id="pinSecreteQts" type="number" name="pin3" maxlength="1" tabindex="3" placeholder="·" autocomplete="off">
                        </label>
                        <label for="pin4">
                            <input id="pinSecreteQts" type="number" name="pin4" maxlength="1" tabindex="4" placeholder="·" autocomplete="off">
                        </label>
                        <label for="pin5">
                            <input id="pinSecreteQts" type="number" name="pin5"  maxlength="1" tabindex="5" placeholder="·" autocomplete="off">
                        </label>
                        <label for="pin6">
                            <input id="pinSecreteQts" type="number" name="pin6" maxlength="1" tabindex="6" placeholder="·" autocomplete="off">
                        </label>
                    </div>
                    <button class="btnForm" type="submit" value="Send">Send</button>
                    <input type="hidden" name="userID" value="<%= user.id %>"  id="">
                    <% if(errorPIN ) { %>
                        <span class="<%=errorStyle%>" ><%=errorPIN%></span>
                    <% } %>
                </form>
            </div>

            <div class="accountContainer_form" id="accountdiv">
                <div class="account" >
                    <div class="account_reset">
                        <h1>Reset Account</h1>
                        <p>Resetting your account will reset your progress on all tasks, reset all your information. You’ll get a chance to confirm your choice.</p>
                        <div id="resetBtn">
                            Reset
                        </div>
                    </div>
                    <div class="account_delete">
                        <h1>Delete Account</h1>
                        <p>This option will delete your account entirely with all data. You’ll get a chance to confirm your choice.</p>
                        <div id="deleteBtn">
                            Delete
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal">
            <div class="modal__content resetAcc">
                <div class="info_container">
                    <h2>Are you sure you want to reset your account?</h2>
                     <div class="modal__content_links">
                        <a id="aceptResetAcc" href="/api/settings/resetAcc/<%= user.id %>">Acept</a>
                        <a class="cancelBtn">Cancel</a>
                    </div>
                </div>
            </div>
            <div class="modal__content deleteAcc">
                <div class="info_container">
                    <h2>Are you sure you want to delete your account?</h2>
                    <div class="modal__content_links">
                        <a id="aceptResetAcc" href="/api/settings/removeAcc/<%= user.id %>">Acept</a>
                        <a class="cancelBtn">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
   </section>

<script src="/javascript/profile.js" type="module"></script>
<script src="/javascript/dashboard.js" type="module" ></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>

//Profile Chart js
const graphicContainer = document.getElementById("myChart");

//Values
const highValue = document.getElementById("highValue");
const middleValue = document.getElementById("middleValue");
const lowValue = document.getElementById("lowValue");

new Chart(graphicContainer,{
        type: "pie",
        data: {
            // labels: ["High","Middle","Low"],
            datasets: [{
                label: "Tasks",
                data: [
                    highValue.textContent,
                    middleValue.textContent,
                    lowValue.textContent],
                backgroundColor: [
                    "#d32324",
                    "#ff8c00",
                    "#1597BB"
                ],
            }]
        }
        
    }
);

</script>
<%- include("../partials/body.ejs") %>
