<%- include("../partials/head.ejs")%>
<section class="container__scrQt">
    <div class="scrQt__content">
        <form class="form_scrQt" action="/api/recovery/secretanswers" method="post">
            <h2>Security's Questions</h2>
            <% for(let i = 0; i < secretQts.length; i++ ){ %>
            <% if(inputCss1 || inputCss2 || inputCss3) { %>
            <h4><%= secretQts[i].question1 %></h4>
            <label for="answer1">
                <input class="inputsCss <%=inputCss1%>" name="answer1" type="text" placeholder="Answer" value="" autocomplete="off">
            </label>
            <h4><%= secretQts[i].question2 %></h4>
            <label for="answer2">
                <input class="inputsCss <%=inputCss2%>" name="answer2" type="text" placeholder="Answer" value="" autocomplete="off">
            </label>
            <h4><%= secretQts[i].question3 %></h4>
            <label for="answer3">
                <input class="inputsCss <%=inputCss3%>" name="answer3" type="text" placeholder="Answer" value="" autocomplete="off">
            </label>
            <input type="hidden" name="userid" value="<%=secretQts[i].user%>">
            <% } %>
            <% } %>
            <input class="scrQtBtn" type="submit" value="Send">
        </form>
    </div>
</section>
<%- include("../partials/body.ejs") %>