<%- include("../partials/head.ejs") %>
<%- include("../partials/nav.ejs" ) %>

<section class="sectionsDashboard">
     <!-- Btns sections -->
        <section class="btn-options">
            <input id="createBtn" type="button" value="+ Create">
            <select name="categories" id="selectCategory">
                <option selected="selected" value="all Category">Category</option>
                <% if(categories) { %>
                    <% for(let i = 0; i < categories.length; i++) { %>
                    <option name="<%= categories[i].id %>" value="<%=categories[i].name%>" ><%=categories[i].name%></option>
                    <% } %>
                <% } %>
            </select>
            <select name="levels" id="selectLevels">
                <option selected="selected" value="all levels">Priority</option>
                <option value="high">High</option>
                <option value="middle">Middle</option>
                <option value="low">Low</option>
            </select>
        </section>
        <!-- Task board -->
        <section class="task__container">
            <% if(categories) { %>
                <% for(let i = 0; i < categories.length; i++) { %>
                <div class="category__card-container" id="categoriesContainer">
                        <div class="category-title">
                            <h2><%= categories[i].name %></h2>
                            <div class="category-btns">
                                <a href="/deleteCategory/<%= categories[i]._id %>"><i class="deleteIcon fa"></i></a>
                            </div>
                        </div>
                        <% for(let j = 0; j < tasks.length; j++) { %>
                        <% if(tasks[j].category == categories[i].id) { %>
                        <div class="tasksFilter">
                            <div class="task__card-container" id="tasksContainer">
                                <div class="titleContainer">
                                    <h3><%= tasks[j].title %></h3>
                                    <div class="btnsContainer">
                                        <a href="/completeTask/<%=tasks[j]._id%>"><i class="completeIcon fa"></i></a>
                                        <a href="/updateTask/<%=tasks[j]._id%>"><i class="updateIcon fa"></i></a>
                                        <a href="/deleteTask/<%=tasks[j]._id%>"><i class="deleteIcon fa"></i></a>
                                    </div>
                                </div>
                                <p><%= tasks[j].description %></p>
                                <div class="container_levels" >
                                    <div class="container_levels-date">
                                        <i class="calendar fa"></i>
                                        <h5 id="date"><%= tasks[j].createdAt %> </h5>
                                    </div>
                                    <% if(tasks[j].dateline){ %>
                                        <i class="dateline fs fa"></i>
                                        <input id="dateline" type="hidden" value="<%=tasks[j].dateline%>">
                                    <%}%>
                                    <h5 class="colorLevels <%= tasks[j].priority %>"><%= tasks[j].priority %></h5>
                                </div>
                                <% if(tasks[j].status) { %>
                                <div class="completeTask">
                                    <a id="completed" href="/cancelCompleteTask/<%=tasks[j]._id%>"><img id="checkIcon" src="/img/check.png" alt="star"></a>
                                </div> 
                                <% } %> 
                            </div>
                        </div>
                        <% } %> 
                    <% }%>
                </div>   
                <% } %>
            <% } %>
        </section>
    <!-- modal add task -->
        <section class="modal__container">
            <div class="modal-card">
                <h3>New Task</h3>
                <i id="closeCreateTask" class="closeIcon fa"></i>
                <form action="/newtask" method="post">
                    <label for="title">
                        <input type="text" name="title" placeholder="Title">
                    </label>
                    <label for="decriptions">
                        <textarea name="description" id="" cols="30" rows="10" placeholder="Description"></textarea>
                    </label>
                    <label class="dateline_container">
                        Dateline:
                        <input class="dateline" type="date" name="dateline" id="">
                    </label>
                    <div class="categoryContainer" id="categoryContainer">
                        <select name="category"  id="select">
                            <option selected="selected">Categories</option>
                            <% if(categories) { %>
                                <% for(let i = 0; i < categories.length; i++) { %>
                                <option name="<%= categories[i].id %>"><%=categories[i].name%></option>
                                <% } %>
                            <% } %>
                        </select>
                        <i class="addNewCategory fa" id="addnewCategoryBtn"></i>
                    </div>
                    <select name="priority">
                        <option selected="selected">Priority</option>
                        <option value="High">High</option>
                        <option value="Middle">Middle</option>
                        <option value="Low">Low</option>
                    </select>
                    <input type="hidden" name="userID" value="<%= user.id %>">
                    <button type="submit">Create</button>
                </form>
            </div>
        </section>
             
</section>

<script src="/javascript/dashboard.js" ></script>
<%- include("../partials/body.ejs") %>
