<%- include("../partials/head.ejs") %>
<!-- modal Update task -->
<section class="update__container">
    <div class="update-card">
        <h3>Update Task</h3>
        <a href="/dashboard"><i class="closeIcon fa"></i></a>
        <form action="/updateTask/<%= task.id %>" method="post">
            <label for="title">
                <input type="text" name="title" placeholder="<%= task.title %>" value="<%= task.title %>">
            </label>
            <label for="decriptions">
                <textarea name="description" id="" cols="30" rows="10" placeholder="<%= task.description %>" value="<%= task.description %>"><%= task.description %></textarea>
            </label>
            <label class="dateline_container">
                Dateline:
                <input class="dateline" type="date" name="dateline" id="" value="<%= task.dateline %>">
            </label>
            <div class="categoryContainer">
                <input type="text" name="<%= category.id %>" placeholder="<%=category.name%>" readonly>
            </div>
            <select name="priority">
                <option selected="selected"><%= task.priority %></option>
                <option value="High">High</option>
                <option value="Hiddle">Middle</option>
                <option value="Low">Low</option>
            </select>
            <button type="submit">Update</button>
        </form>
    </div>
</section>

<script src="/javascript/dashboard.js" ></script>
<%- include("../partials/body.ejs") %>